layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }
    tab_template name="strider_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Vertical" {
            pane size="15%" name="Strider" cwd="/var/home/steven/Documents/Coding/coding/Python" {
                // TODO: when we support sending CWD to plugins, this should start in ./zellij-derver
                plugin location="zellij:strider"
            }
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    strider_tab name="Main" cwd="/var/home/steven/Documents/Coding/coding/Python" focus=true {
        pane split_direction="vertical" {
            pane name="Main"
        }
    }
}

// layout {
//     pane split_direction="vertical" {
//         pane size="15%" name="Strider" {
            // TODO: when we support sending CWD to plugins, this should start in ./zellij-derver
//             plugin location="zellij:strider"
//         }
//         pane size="35%" {
//             pane name="Main"
//         }
//        pane size="50%" {
//            pane command="nvim" name="NVIM"
//        }
//     }
//    pane size=1 borderless=true {
//        plugin location="zellij:status-bar"
//    }
//     pane size=1 borderless=true {
//         plugin location="zellij:tab-bar"
//     }
// }
